@model EShop.Domain.DTO.AddToShoppingCartDto

@{
    ViewData["Title"] = "Add To Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Selected Product to User Shopping Cart:</h1>

<hr />

<div class="row">
    <div class="col-md-4 m-auto">
        <form asp-action="AddProductToCart" method="post">
            <input type="hidden" asp-for="selectedProductId" /> <!--asp-for="ProductId"-->
            <div class="form-group">
                <label asp-for="selectedProduct.ProductName"></label>
                <input disabled asp-for="selectedProduct.ProductName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="quantity"></label>
                <input asp-for="quantity" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
© 2021 GitHub, Inc.